SetEnv WOLF_PROJECT WOLFBOT
SetEnv WOLFBOT_ENV prod
SetEnv WOLFBOT_ROOT /var/www/wolfbotx/www
SetEnv WOLF_PACKAGES /var/www/wolfbotx/packages
SetEnv WOLFBOT_WEB_ROOT http://<YOURIPADDRESS>/wolfbotx/www/
SetEnv WOLFBOT_DBNAME dbot
SetEnv WOLFBOT_SECURE /var/www/wolfbotx/securefiles

AddDefaultCharset UTF-8
